@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: radial-gradient(circle at 50% 10%, #1f3756, #141439);
	min-height: 100vh;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: white;
}

.container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem 1rem;
}

header {
	border: 3px solid #606e85;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	padding: 20px;
}

header h1 {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
}

.score-container {
	background: white;
	text-transform: uppercase;
	padding: 0.5rem 1.5rem;
	text-align: center;
	border-radius: 10px;
	letter-spacing: 2px;
}

.score-container h4 {
	color: #073b4c;
	font-weight: 300;
}

.score-container p.score {
	color: #484848;
	margin: 0;
	font-size: 3rem;
	font-weight: 700;
}

.btn {
	border-radius: 50%;
	height: 125px;
	width: 125px;
	border: none;
	transition: transform 2s ease-in-out;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.2);
}

.btn__wrapper {
	background-color: #fff;
	width: 105px;
	height: 105px;
	display: inline-block;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.btn img {
	width: 50px;
	height: 50px;
}

.btn.rock {
	background: linear-gradient(to bottom, #59515e, #c5c6d0);
	transition: all 0.2s;
}

.btn.paper {
	background: linear-gradient(to bottom, #151e3d, #0492c2);
	transition: all 0.2s;
}

.btn.scissors {
	background: linear-gradient(to bottom, #690c07, #e3242b);
	transition: all 0.2s;
}

.main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 2rem auto;
}

.start {
	width: 300px;
	height: 300px;
	justify-content: space-around;
}

.contest {
	display: none;
	width: 100%;
	justify-content: space-between;
}

.userhand,
.househand,
.decision {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contest__title {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 1rem;
}

.decision .contest__title {
	font-weight: 600;
}

.contest .btn {
	height: 150px;
	width: 150px;
}

.contest .btn__wrapper {
	height: 135px;
	width: 135px;
}

.contest .btn img {
	width: 75px;
	height: 75px;
}

.newGame {
	background-color: white;
	color: #1f3756;
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 16px;
	padding: 8px 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.2s;
	cursor: pointer;
}

.newGame:hover {
	background-color: #1f3756;
	color: #fff;
}

@media screen and (max-width: 559px) {
	.contest {
		flex-direction: column;
	}
	.userhand,
	.househand,
	.referee {
		margin-bottom: 2rem;
	}
	.decision {
		flex-direction: row;
	}
	.decision .contest__title {
		margin-bottom: 0;
		margin-right: 2rem;
	}
}

.rules {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.rules__btn {
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: transparent;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	padding: 8px 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.2s;
	cursor: pointer;
}

.rules__btn:hover {
	background-color: white;
	color: #1f3756;
}

.rules-modal {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
}

.rules-modal img {
	height: 300px;
}

.rules-modal button {
	background-color: transparent;
	border: none;
	font-size: 16px;
	position: fixed;
	top: 40px;
	right: 40px;
	cursor: pointer;
}

.rules-modal button img {
	height: 20px;
}
